.navBar {
    padding: 10px 0 5px 0;
    color: rgb(255, 255, 255);
    background-color: rgba(61, 89, 126, 0.836);
}

.logoText {
    padding-left: 15px;
}

.textArea {
    width: 100%;
}

.textArea:focus {
    resize: none;
    outline: none;
}

.mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.textContainer {
    background-color: rgb(238, 238, 238);
    flex: 1;
    padding-top: 15px;
}

.textLabel {
    font-weight: 700;
}
